<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>wr-monitor-dezhou</display-name>
    <!-- 其他扩展名的资源使用缺省的方式,不使用DispatcherServlet -->
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.jpg</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.gif</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.png</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.js</url-pattern>
  	</servlet-mapping>
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.json</url-pattern>
    </servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.css</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.xml</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.swf</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.html</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.svg</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.eot</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.ttf</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.woff</url-pattern>
  	</servlet-mapping>
     <servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>*.woff2</url-pattern>
  	</servlet-mapping>

    <!-- Spring MVC -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- 加载spring相关的配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:happy/module/public/spring/*.xml
        </param-value>
    </context-param>

</web-app>
